{% import '_utilities/format' as format %}
{% import '_utilities/transforms' as transform %}

{% set reverse = reverse ? true : false %}
{% set cycle = reverse ? ['reverse', 'standard'] : ['standard', 'reverse'] %}

{% set heading = item['heading'] ?? false %}
{% set preheading = item['preheading'] ?? false %}
{% set intro = item['intro'] ?? false %}
{% set image = item['image'] ?? false %}
{% set text = item['text'] ?? false %}

<div class="image-text-default__item">

    <div class="image-text-default__row  image-text-default__row--{{ cycle(cycle, index) }}">

        <div class="image-text-default__image-col">
            {{ transform.getImage({
                'asset': image,
                'transform': 'fluid',
                'wrapperClasses': 'image-text-default__image-wrapper',
                'classes': 'image-text-default__image',
                'placeholder': false
            }) }}
        </div>

        <div class="image-text-default__info">
            {% if preheading %}
				<p class="stamp stamp--sky image-text-default__preheading">{{ format.basic(preheading)}}</p>
			{% endif %}

            {% if heading %}
            <h2 class="faux-h3">{{ format.basic(item.heading) }}</h2>
            {% endif %}

            {{intro}}

            {{ text|raw }}

            {% include '_blocks/buttons' with { entry: item, options: {layout: 'left', classes:'btn image-text-default__btn link'}  } only %}
        </div>

    </div>
</div>      