{% import '_utilities/format' as format %}
{% import '_utilities/transforms' as transform %}

{% set count = count ?? 1 %}
{% set reverse = reverse ? true : false %}
{% set cycle = reverse ? ['reverse', 'standard'] : ['standard', 'reverse'] %}
{% set precolors = count <= 1 ? ['stamp--sky','stamp--jungle', 'stamp--sun'] : ['stamp--jungle', 'stamp--sun', 'stamp--sky'] %}
{% set icon = item['iconPicker'] ?? false %}

{% set heading = item['heading'] ?? false %}
{% set preheading = item['preheading'] ?? false %}
{% set intro = item['intro'] ?? false %}
{% set image = item['image'] ?? false %}
{% set text = item['text'] ?? false %}

<div class="image-text-default__item">

    <div class="image-text-default__row  image-text-default__row--{{ cycle(cycle, index) }}">

        <div class="image-text-default__image-col">
            {{ transform.getImage({
                'asset': image,
                'transform': 'fluid',
                'wrapperClasses': 'image-text-default__image-wrapper',
                'classes': 'image-text-default__image',
                'placeholder': false
            }) }}
        </div>

        <div class="image-text-default__info">

        test {{ renderIcon(item.iconPicker) }}
            {% if preheading %}
				<p class="stamp {{ cycle(precolors, index) }} image-text-default__preheading">{{ format.basic(preheading)}}</p>
			{% endif %}

            {% if heading %}
            <h2 class="faux-h3">{{ format.basic(item.heading) }}</h2>
            {% endif %}

            {{intro}}

            {% include "_blocks/_builder" with { blocks: text, parent: 'text' } %}
        </div>

    </div>
</div>      