{% import '_utilities/format' as format %}

{#
{{entry.field}}
#}

{# get the page/section entry #}
{% set owner = owner ?? entry.owner %}
{% set parent = parent ?? 'default' %}

{% set ownerHeading = owner['heading'] ?? owner['title'] ?? false %}
{% set heading = entry['heading'] ?? (not hasHandle and ownerHeading ? ownerHeading : false) %}
{% set subheading = entry['subheading'] ?? owner['subheading'] ?? false %}
{% set intro = entry['intro'] ?? false %}

{% set textSize = entry['textSize'] ?? 'lg' %}
{% set alignment = entry['alignment']|default('standard') %}
{% set reverse = entry['reverse']|default(false) ? 'reverse' : 'no-reverse' %}
{% set background = entry['background']['color'][0]['background']|default('bg--none') %}

{% set defaultAttr = {
    class: [
        'entry-heading',
        background,
        background != 'bg--none' ? 'section-padding' : 'section',
    ]
} %}

<section {{attr(defaultAttr)}}>
	
	{% include '_blocks/partials/heading' %}

    <div class="entry-heading__container">
		<div class="{{ parent != 'column' ? 'wrapper-text' : 'wrapper'}}">
			<div class="global-heading-container">

				{% if subheading %}
				<p class="entry-heading__subheading faux-subheading">{{ format.basic(subheading) }}</p>
				{% endif %}
				
				{% if heading %}
					{% tag hasHandle ? 'h2' : 'h1' with {class: 'entry-heading__title faux-h1'} %}
						{{ format.basic(heading) }}
					{% endtag %}
				{% endif %}

				{% if intro %}
					{{intro|retconAttr('p', { class:  textSize == 'lg' ? 'faux-p-lg'} )}}
				{% endif %}

				{% include '_blocks/buttons' with { entry: entry, options: {classes:'btn btn--arrow btn--outline card__btn link'}  } only %}
			</div>
		</div>
	</div>

</section>
