
{% import '_utilities/format' as format %}
{% import '_utilities/transforms' as transform %}

{% set video = entry.video.one() ?? false %}
{% set video = video ? craft.embeddedAssets.get(video) : false %}
{% set image = video ? (entry.image.one() ?? false) : false %}

{% set owner = entry['owner'] ?? false %}
{% set type = owner ? owner.type : 'page' %}

<article class="video-block {{ type == 'contentBlock' ? 'section--slim' : 'section'}} relative">
	<div class="wrapper">
		
		{% include '_blocks/partials/heading' %}

		<div class="video__wrapper">
			{% if video and video.getIsSafe() %}
			<video-gallery class="video__item relative">
				<a class="media-hover-point block" data-fancybox="video-{{entry.uid}}" href="{{video.url}}">
					{% if image %}
						{{ transform.getImage({
							'asset': image,
							'transform': 'video',
							'to-lg': 'videoMd',
							'wrapperClasses': 'image__wrapper video__image-wrapper media-overlay media-wrapper',
							'classes': 'video__image',
							'placeholder': false
						}) }}
					{% else %}
						{# get hi-res image #}
						{% set image = video['images'][1] is defined ? video.images[1].url : video.image %}
						<picture class="image__wrapper video__image-wrapper media-overlay media-wrapper">
							<img class="video__image lazyload lazy-img" data-src="{{image}}" src="" alt="{{video.title}}">
						</picture>
					{% endif %}

					<div class="video__btn-wrapper center-flex" role="presentation">
						<span class="play-btn__icon block"></span>
					</div>
				</a>
			</video-gallery>
			{% endif %}
		</div>
	</div>
</article>
    