{% set featuredItem = featuredItem ?? false %}
{% set postType = postType ?? 'Listings' %}

{% paginate items as pageInfo, posts %}

<div class="posts-container posts-block--{{postType}} section relative">

	{% include '_blocks/partials/heading' %}
	
    <div class="wrapper">
        {% if posts or featuredItem %}
            {# place the featured item at the start of the array #}
            {% if featuredItem and pageInfo.currentPage == 1 %}
                {% set posts = [featuredItem]|merge(posts)%}
            {% endif %}

            <div class="posts-block__items">
                {% for item in posts %}
                    {% include '_blocks/partials/cards/gridPartial' with {item: item, linkEntireCard: true, isFeatured: featuredItem and pageInfo.currentPage == 1 and loop.index == 1 ? true : false } only %}
                {% endfor %}
            </div>

            <div class="posts-block__footer">
                <ul class="posts-block__footer-links ignore">
                    {% for page, url in pageInfo.getDynamicRangeUrls(5) %}
                    <li><a href="{{ url }}" class="pagination__item {{ page == pageInfo.currentPage ? 'pagination__item--current'}}"
                            aria-label="Page {{ page }}">{{ page }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            <p class="posts-block__none text-center">Sorry, no {{postType}} posts found</p>
        {% endif %}
    </div>

</div>