{% extends "_layouts" %}

{# globals #}
{% set globalShowForm = false %}

{% import '_utilities/transforms' as transform %}
{% import '_utilities/format' as format %}

{% set items = craft.entries()
    .section('blog')
    .with(['image'])
    .limit(3)
    .collect() ?? false
%}

{% set categories = craft.categories.relatedTo(category).collect() ?? false %}
{% set title = category.heading ?? category.title %}
{% set blocks = category.postBuilder.all() ?? null %}

{# back link: links back to the previous page if there's user history otherwise links to the main blog page. This is a global setting (site->blog back link).#}
{% set backHistory = craft.app.request.referrer ?? false %}
{% set backUrl = backHistory ? backHistory : not general.blogBackLink.isEmpty() ? general.blogBackLink.url : false %}

{% block main %}
<div class="blog-detail blog-container">

    
    {% include '_sections/blog/heroDetail' %}

    {# detail content #}
    <div class="blog-detail__container section">
        <div class="blog-detail__row wrapper">
            {# column #}
            <div class="blog-detail__column blog-detail__column--main">

                {% if backUrl %}
                <a href="{{ backUrl }}" class="blog-detail__back-btn btn btn--arrow-reverse btn--text">{{ general.blogBackLink.linkText|default('Back') }}</a>
                {% endif %}

                <h1 class="blog-detail__heading faux-h2">{{format.basic(title)}}</h1>
                

                {% if category.intro %}
                <div class="blog-detail__intro">
                    <p class="faux-p-lg">{{ format.basic(category.intro) }}</p>
                </div>
                {% endif %}

                {% for chunk in category.postBuilder %}
                    {% if chunk.type == 'markup' %}
                        {% include "_blocks/markup" with {"chunk": chunk, "index": loop.index, "last":loop.last } only %}
                    {% else %}
                        {% include "_blocks/#{chunk.category.type.handle}" with {"category": chunk.category, "index": loop.index, "last":loop.last } only %}
                    {% endif %}
                {% endfor %}
            </div>

            {# column #}
            {% if categories and categories|length %}
            <div class="blog-detail__column blog-detail__column--side">
                <div class="blog-detail__cats">
                    <p class="blog-detail__cats-heading uppercase faux-h5">Categories:</p>
                    <ul class="blog-detail__cats-items list-none">
                        {% for cat in categories %}
                        <li><a href="{{cat.url}}" class="blog-detail__cats-item">{{cat.title}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

    {# recent blog posts 
    {% if items %}
    <div class="wrapper">
        
        <div class="section-header wrapper">
            <div class="section-header__int wrapper-text text-center">
                <h2 class="section-header__heading">View Other Blogs</h2>
            </div>
        </div>

        <div class="wrapper relative">
            <div class="blog-posts__items">
                {% for item in items %}
                    {% include '_sections/blog/_card' %}
                {% endfor %}
            </div>
        </div>
        
    </div>
    {% endif %}
    #}

</div>
{% endblock %}