{% import '_utilities/nav' as nav %}

{% set email = general['email'] ?? footer['email'] ?? false %}

{# footer navs #}
{% set links = craft.freenav.nodes('footer').all() ?? false %}

<footer class="footer">
    {# top footer #}
    <div class="footer-top section-padding section-padding--slim bg--color2">
        <div class="footer-top__int wrapper">
            
            {# left/top column #}
            <div class="footer__column">
                <a href="{{siteUrl}}" aria-label="return home" class="footer__logo-link">
                    {{logoSvg}}
                </a>
                
                {% if seomatic.site.identity.genericStreetAddress %}
                <p class="footer__address">{{seomatic.site.identity.genericStreetAddress}}</p>
                {% endif %}

                {% if seomatic.site.identity.genericTelephone %}
                <p class="footer__phone"><span class="bold">phone:</span> {{seomatic.site.identity.genericTelephone}}</p>
                {% endif %}
                
                <ul class="footer-social__items ignore">
                    {% include '_partials/social' %}
                </ul>

            </div>
            
            {# right/bottom column #}
            <div class="footer__column footer__column--grid">
                {% cache globally using key "footer-nav" %}
                    {% if links %}
                    <ul class="footer__nav ignore">
                        <li class="footer__nav-heading">Information</li>
                        {{ nav.standard(links)}}
                    </ul>
                    {% endif %}
                {% endcache %}

				{% if email %}
				<ul class="footer__nav ignore">
                        <li class="footer__nav-heading">Get In Touch</li>
						<li><a class="menu__link" href="mailto:{{email}}?subject=Lets Talk" >{{email}}</a></li>
				</ul>
				{% endif %}
            </div>
        </div>
    </div>

    {# bottom footer #}
    <div class="section-padding--slim my-0 bg--color1">
        <div class="wrapper">
            <p class="footer__copyright faux-p-sm bold">&copy; {{now|date('Y')}} {{footer.copyright}}</p>
        </div>
    </div>
</footer>