{% set globalShowForm = true %}

{% embed '_base' %}
{% block content %}
<article class="section portal-login-block">
    <div class="wrapper">
        <form-js>
            <form class="form-reset" method="post" accept-charset="UTF-8">
                {{ csrfInput() }}
                {{ actionInput('users/send-password-reset-email') }}
                
                <div class="fui-page-container">
                    
                    {% if errors is defined %}
                    <div>
                        {{ ul(errors, {class: 'alert-error errors ignore'}) }}
                    </div>
                    {% endif %}

                    <div class="fui-row fui-page-row">
                        <div class="fui-field">
                            <div class="fui-field-container">
                                <label class="fui-label" for="loginName">Username or email</label>

                                <div class="fui-input-container">
                                {{ input('text', 'loginName', loginName ?? craft.app.user.rememberedUsername, {
                                    id: 'loginName',
                                    class: 'fui-input',
                                    autocomplete: 'username',
                                }) }}
                                </div>
                            </div>
                        </div>
                    </div>

                    {% set success = craft.app.session.getFlash('notice') ?? false %}

                    {% if success %}
                    <div>
                        <p>{{success}}</p>
                    </div>
                    {% endif %}
                    
                    <div>
                        <button class="btn">Submit</button>
                    </div>

                </div>
            </form>
        </form-js>
    </div>
</article>
{% endblock %}
{% endembed %}