{% set globalShowForm = true %}

{% extends '_layouts' %}

{% block main %}
<article class="section portal-login-block">
    <div class="wrapper">
        <form class="form form-login" method="post" accept-charset="UTF-8">
            {{ csrfInput() }}
            {{ actionInput('users/login') }}

            {% if errorMessage is defined %}
            <p class="alert-error">{{ errorMessage }}</p>
            {% endif %}

            <div class="form__field">
                <label class="form__label" for="loginName">Username or email</label>
                {{ input('text', 'loginName', craft.app.user.rememberedUsername, {
                    id: 'loginName',
                    class: 'form__input',
                }) }}
            </div>

            <div class="form__field">
                <label class="form__label" for="password">Password</label>
                {{ input('password', 'password', null, {
                    id: 'password',
                    class: 'form__input',
                }) }}
            </div>

            <div class="form__field form__field--checkbox">
                {{ input('checkbox', 'rememberMe', '1', {
                    class: 'form__checkbox',
                    id: 'login-remember',
                }) }}
                <label class="form__checkbox-label" for="login-remember">Remember me</label>
            </div>

            <div class="form__actions">
                <button type="submit" class="btn form__submit">Login</button>
            </div>
        </form>

        <p><a href="{{ url('portal/reset-password') }}">Forgot your password?</a></p>
    </div>
</article>
{% endblock %}
