{% import '_utilities/nav' as nav %}

{% set email = general['email'] ?? footer['email'] ?? false %}

{# footer navs #}
{% set links = craft.freenav.nodes('footer').all() ?? false %}

<footer class="footer">
    {# top footer #}
    <div class="footer-top section-padding section-padding--slim bg--black">
        <div class="footer-top__int wrapper">
            
            {# left/top column #}
            <div class="footer__column">

                {#
                
                {% set generalAddress = general.address.one() ?? null %}
                {% if generalAddress %}
                <p class="footer__address">{{ generalAddress|address }}</p>
                {% endif %}

                {% if general.phone %}
                <p class="footer__phone"><span class="bold">phone:</span> {{ general.phone }}</p>
                {% endif %}
                #}

                <a href="{{siteUrl}}" aria-label="return home" class="footer__logo-link">
                    {{logoSvg}}
                    <span class="footer__logo-text">Romeo &amp; Buddy</span>
                </a>
                <p>A children's book series about imagination, unplugging, and the biggest adventures a living room has ever seen.</p>

                <ul class="footer-social__items ignore">
                    {% include '_partials/social' %}
                </ul>

            </div>
            
            {# right/bottom column #}
            <div class="footer__column footer__column--grid">
                {% cache globally using key "footer-nav" %}
                    {% if links %}
                    <ul class="footer__nav ignore">
                        <li class="footer__nav-heading">Information</li>
                        {{ nav.standard(links)}}
                    </ul>
                    {% endif %}
                {% endcache %}

				{% if email %}
				<ul class="footer__nav ignore">
                        <li class="footer__nav-heading">Get In Touch</li>
						<li><a class="menu__link" href="mailto:{{email}}?subject=Lets Talk" >{{email}}</a></li>
				</ul>
				{% endif %}
            </div>
        </div>
    </div>

    {# bottom footer #}
    <div class="footer__bottom section-padding--slim my-0 bg--black">
        <div class="footer__bottom-wrapper wrapper">
            <p class="footer__copyright faux-p-xs">&copy; {{now|date('Y')}} {{footer.copyright}}</p>
        </div>
    </div>
</footer>