{% import '_utilities/format' as format %}
{% import '_utilities/transforms' as transform %}

{% set background = entry['background']['color'][0]['background']|default('bg--none') %}
{% set circleImages = entry['circleImages']|default(false) %}
{% set bookmark = entry['bookmark']|default(false) %}

{% set count = items|length %}
{% set reverse = reverse ? true : false %}
{% set cycle = reverse ? ['reverse', 'standard'] : ['standard', 'reverse'] %}
{% set precolors = count <= 1 ? ['stamp--sky','stamp--jungle', 'stamp--sun'] : ['stamp--jungle', 'stamp--sun', 'stamp--sky'] %}

{% set defaultAttr = {
    class: [
        'image-text-default relative',
        background,
		circleImages ? 'image-text-default--circles' : '',
        'bg--none' in background ? 'section' : 'section-padding',
		isLast|default ? 'is-last' : false,
    ],
	id: bookmark ?? false
} %}

<article {{attr(defaultAttr)}}>

	{% if 'bg--none' not in background %}
	<div class="wave wave--top">
      <svg viewBox="0 0 1440 100" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0,60 C240,10 480,90 720,50 C960,10 1200,90 1440,40 L1440,0 L0,0 Z" fill="var(--color-tan)"/>
      </svg>
    </div>
	{% endif %}

	{% include '_blocks/partials/heading' %}

	<div class="image-text-default__int wrapper">
		<div class="image-text-default__items" data-animations="{{ {
			transition: 'inview',
			childTarget: '[data-children]'
    	}|json_encode }}">

			{% for item in items %}
				{% set index = loop.index0 %}
				{% set heading = item['heading'] ?? false %}
				{% set preheading = item['preheading'] ?? false %}
				{% set intro = item['intro'] ?? false %}
				{% set image = item['image'] ?? false %}
				{% set text = item['text'] ?? false %}

				<div class="image-text-default__item">

					<div class="image-text-default__row  image-text-default__row--{{ cycle(cycle, index) }}">

						<div class="image-text-default__image-col">
							{{ transform.getImage({
								'asset': image,
								'transform': 'fluid',
								'wrapperClasses': 'image-text-default__image-wrapper',
								'classes': 'image-text-default__image',
								'placeholder': false,
								'preload': index == 0 and (preloadImage ?? false)
							}) }}
						</div>

						<div class="image-text-default__info">
							{% if preheading %}
								<p class="stamp {{ cycle(precolors, index) }} image-text-default__preheading">{{ format.basic(preheading)}}</p>
							{% endif %}

							{% if heading %}
							<h2 class="faux-h3">{{ format.basic(item.heading) }}</h2>
							{% endif %}

							{{intro}}

							{% include "_blocks/_builder" with { blocks: text, parent: 'text' } %}
						</div>

					</div>
				</div>      
			{% endfor %}

		</div>
	</div>

	{% if 'bg--none' not in background %}
	<div class="wave wave--bottom">
      <svg viewBox="0 0 1440 100" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0,60 C240,10 480,90 720,50 C960,10 1200,90 1440,40 L1440,0 L0,0 Z" fill="var(--color-tan)"/>
      </svg>
    </div>
	{% endif %}
</article>