{% import '_utilities/format' as format %}
{% import '_utilities/transforms' as transform %}

{% set reverse = reverse ? true : false %}
{% set cycle = reverse ? ['reverse', 'standard'] : ['standard', 'reverse'] %}
{% set uid = uid ?? random() %}

<article class="image-text-show section relative">

	{% include '_blocks/partials/heading' %}

	<div class="image-text-show__int">
		<div class="image-text-show__items">

			{% for item in items %}
				{% set index = loop.index0 %}
				{% set blockId = 'image-text-show' ~ uid ~ '-' ~ index %}
				{% set heading = item['heading'] ?? false %}
				{% set intro = item['intro'] ?? false %}
				{% set image = item['image'] ?? false %}
				{% set text = item['text'] ?? false %}

				<div class="image-text-show__item">

					<div id="{{blockId}}" class="image-text-show__row  image-text-show__row--{{ cycle(cycle, index) }}">

						<div class="image-text-show__image-col" data-animations="{{ {
							transition: 'clip',
							opacity: [0, 1]
						}|json_encode }}">
							{{ transform.getImage({
								'asset': image,
								'transform': 'fluid',
								'wrapperClasses': 'image-text-show__image-wrapper',
								'classes': 'image-text-show__image',
								'placeholder': false,
								'preload': index == 0 and (preloadImage ?? false)
							}) }}
						</div>

						<div class="image-text-show__info" data-animations="{{ {
							transition: 'inout',
							targetId: blockId
						}|json_encode }}">
							<div class="image-text-show__info-int">
								{% if heading %}
								<h2 class="faux-h3">{{ format.basic(item.heading) }}</h2>
								{% endif %}

								{{intro}}

								{{ text|raw }}

								{% include '_blocks/buttons' with { entry: item, options: {layout: 'left', classes:'btn image-text-show__btn link'}  } only %}
							</div>
						</div>

					</div>
				</div>      
			{% endfor %}

		</div>
	</div>
</article>