{% import '_utilities/format' as format %}
{% import '_utilities/transforms' as transform %}


{% set heading = item.heading ?? false %}
{% set preheading = item.preheading ?? false %}
{% set subheading = item.subheading ?? false %}
{% set intro = item.intro ?? false %}
{% set image = item.image ?? false %}

<div class="card__item relative swiper-carousel-animate-opacity" data-children>

    {#
    {{format.getLinkAria(item.linkUrl)}}
    #}

    {% if image %}
        {{ transform.getImage({
            'asset': image,
            'transform': 'tall',
            'wrapperClasses': "card__image-wrapper",
            'classes': "card__image object-fit",
            'placeholder': true
        }) }}
    {% endif %}

    <div class="card__info bg--dark">
        <div class="card__info-int">
            
            {% if preheading %}
            <p class="card__preheading faux-prehead">{{ format.basic(preheading) }}</p>
            {% endif %}
            
            {% if heading %}
            <p class="card__heading faux-p-lg">{{ format.basic(heading) }}</p>
            {% endif %}
        </div>
    </div>

    {% if intro %}
        <button class="slider-toggle" data-toggle-modal="{{uid}}" type="button">+</button>

        <cta-modal data-lenis-prevent id="{{uid}}" data-modal-move>
            <div slot="modal">
                {{intro|retconAttr('p', { class: 'card__intro' })|retconAttr('a', { class: 'global-link' })}}
        
                {% include '_blocks/buttons' with { entry: item, options: {classes:'btn card__btn global-link'}  } only %}        
            </div>
        </cta-modal>
    {% endif %}
</div>