{# asset paths #}
{% set mainCSSPath = craft.vite.entry("maincss.css") %}
{% set criticialPath = craft.vite.entry("critical.css") %}
{% set themeDir =  'themes/' ~ (activeThemeHandle ?? getenv('CUSTOM_THEME')) %}

<!doctype html>
<html lang="en-US" class="{{htmlClasses|default}} {{globalHeroOverlay|default(false) ? 'has--hero-overlay'}} {{globalHasHero|default(false) ? 'has--hero'}} {{globalShowForm|default(false) ? 'has--form'}}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">

	<link rel="apple-touch-icon" sizes="180x180" href="/assets/themes/{{ activeThemeHandle }}/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/themes/{{ activeThemeHandle }}/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/themes/{{ activeThemeHandle }}/favicon-16x16.png">
    <link rel="icon" href="/assets/themes/{{ activeThemeHandle }}/favicon.ico" type="image/x-icon">
    {# favicon webmanifest <link rel="manifest" href="/site.webmanifest"> #}

    {# quick hack to load crtical css locally #}
    {% if craft.vite.devServerRunning() %}
    {{ craft.vite.script("#{themeDir}/src/js/critical.js", false) }}
    {{ craft.vite.script("#{themeDir}/src/js/maincss.js", false) }}
    {% endif %}

    {# ============================================
        PAGE STYLES
    ============================================ #}
	{% if not craft.vite.devServerRunning() %}
	<style>{{ craft.vite.inline(criticialPath) }}</style>

    <link href="{{mainCSSPath}}" rel="stylesheet" media="print" onload="this.media='all'">
    {% endif %}


    {# ============================================
        MISC PAGE LINKS
    ============================================ #}
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&family=Quicksand:wght@400;700&display=swap">
    <link media="print" onload="this.onload=null;this.removeAttribute('media');" href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&family=Quicksand:wght@400;700&display=swap" rel="stylesheet">
</head>

<body id="appcss" class="header-top">

    {# ============================================
        PAGE CONTENT
    ============================================ #}
    {% block body %}
    <div id="app">
        {# banner#}
        {% include '_partials/banner' %}

        {# nav/main header #}
        {% include '_partials/header' %}

        {# content header #}
        {% block header %}
        {% endblock %}

        {# main content #}
        <main class="main-content content-fade-in">
            {% block main %}
            {% endblock %}
        </main>
        
        {# footer content #}
        {% include '_partials/footer' %}
        
        {# edit button #}
        {% include "_partials/edit" %}
    </div>
    {% endblock %}
    {# ============================================
        END PAGE CONTENT
    ============================================ #}
    <div id="modal-holder" class="swiper-no-swiping"></div>
    

    {# ============================================
        PAGE SCRIPTS
    ============================================ #}
    <script type="text/javascript">
        window.csrfTokenName = "{{ craft.app.config.general.csrfTokenName|e('js') }}";
        window.csrfTokenValue = "{{ craft.app.request.csrfToken|e('js') }}";
        window.environment = "{{ craft.app.config.env|e('js') }}";
        window.appUrl = "{{ getenv('APP_URL')|e('js') }}";
    </script>

    {{ craft.vite.script("#{themeDir}/src/js/main.js", true) }}   
</body>

</html>