

{% set alignment = entry['alignment']|default('standard') %}
{% set reverse = entry['reverse']|default(false) ? 'reverse' : 'no-reverse' %}
{% set layout = entry['layoutColumns'] ?? 'none' %}
{% set background = entry['background']['color'][0]['background']|default('bg--none') %}
{% set isLast = last ?? false %}
{% set owner = entry.owner %}

{% set defaultAttr = {
    class: [
        'columns__container',
        background,
        'bg--none' in background ? 'section' : 'section-padding',
    ]
} %}

<div class="columns {{background == 'bg-none' ? 'section'}} {{isLast ? 'section--last'}}">

    <div {{attr(defaultAttr)}}>

        {% include '_blocks/partials/heading' %}

        <div class="columns__int wrapper">

            {% set columns = entry.columns.all() %}
            
            {% if columns|length %}
            <div class="columns__grid columns__grid--{{layout}} columns__grid--{{alignment}} columns__grid--{{reverse}}">
                {% for column in columns %}

					{% set width = column['width']|default('50') %}
					{% set offset = column['offset']|default('none') %}
					{% set blocks = column['columnBuilder'] ?? null %}

                    <div class="column column--{{loop.index}} column-width--{{width}} column-offset--{{offset}}">

                        {% include "_blocks/_builder" with {"parent": 'column' } %}

                        {#
						{{ column.columnContentBlock.render({
							parent: 'column',
							owner: owner
						})}}#}

						{#
						{% set columnBlocks = column.column.all() %}
						
                        {% for block in columnBlocks %}
                            {% include "_blocks/#{block.type.handle}" with {entry: block, parent: 'column' } %}
                        {% endfor %}
						#}
                    </div>
                {% endfor %}
            </div>
            {% endif %}

        </div>
    </div>
</div>